@import "mixins.less";

/*mobile*/
.page-main {
  border-top: 1px solid #ececec;
}

.menu {
  height: 507px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  background-image: url(../img/content_images/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  @media @retina {
    background-image: url(../img/content_images/hero-mobile@2x.jpg);
    background-size: 575px auto;
  }
}

.page-title {
  position: relative;
  min-height: 300px;
  width: 245px;
  margin: 0 auto;
  padding-top: 88px;
  h3 {
    margin-top: 0px;
    margin-bottom: 0;
    font-family: verdana;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    }
}

.menu__button-wrapper {
  .container();
}

.menu__item {
  display: block;
  min-height: 103px;
  padding-top: 25px;
  color: white;
  font-family: tahoma;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  &:active .menu__button-wrapper {
    opacity: 0.3;
  }
  &--interior {
    background-color: #63d1bb;
    position: relative;
    &::after {
      position: absolute;
      top: 20px;
      right: 18%;
      height: 62px;
      width: 40px;
      display: block;
      content: "";
      background: url('../img/css_sprites.png') -4px -113px;
    }
  }
  &--toys {
    background-color: #56c3b2;
    position: relative;
    &::after {
      position: absolute;
      top: 20px;
      right: 18%;
      height: 60px;
      width: 60px;
      display: block;
      content: "";
      background: url('../img/css_sprites.png') -133px -4px;
    }
  }
}


@media @tablet-widths {
  .page-main {
    margin-top: -89px;
  }

  .menu {
    min-height: 731px;
    padding-top: 80px;
    background-image: url(../img/content_images/hero-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    @media @retina {
      background-image: url(../img/content_images/hero-desktop@2x.jpg);
      background-size: 1150px auto;
    }
    &::after {
      position: absolute;
      top: 728px;
      content: "";
      background-image: url(../img/bg-zigzag-fill.svg);
      background-size: 600px 35px;
      width: 100%;
      height: 20px;
    }
 }

  .page-title {
    min-height: 548px;
    width: 525px;
    padding-top: 75px;
      h3 {
        font-size: 40px;
        line-height: 50px;
      }
  }

  .menu__wrapper {
    .container;
    display: flex
  }

  .menu__item {
    width: 50%;
    min-height: 118px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
    &--interior {
      &::after {
        right: 10%;
        top: 30px;
      }
    }
    &--toys {
      &::after {
        right: 10%;
        top: 30px;
      }
  }
}

  .menu__button-wrapper {
    padding: 0;
    margin: 0;
  }
}


/*desktop*/
@media @desktop-widths {
  .menu {
    &::after {
      top: 725px;
      background-repeat: repeat-x;
      width: 100%;
      height: 28px;
    }
  }
  .page-title {
    width: 625px;
    h3 {
      font-size: 50px;
      line-height: 57px;
    }
  }

  .menu__item {
    width: 50%;
    svg {
      right: 5%;
    }
    &:hover {
      top: -5px;
      min-height: 118px;
    }
  }
}
